.scroll::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
 /*  .scroll::-webkit-scrollbar-track {
    background: rgba(180, 180, 229, 0.464); 
    
  } */
   
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background-color:rgb(181, 185, 241);
    border-radius: 15px;
  
  }
  
  /* Handle on hover */
  .scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(232, 194, 237);
  }

  .scroll{
    height: 100%;
    overflow: scroll;
  }
​
  html{
    overflow: hidden;
  }